


ion-content{

  --background : #778a93;

 
}

/* .border {
  ion-item {
    border-radius: 20px 0 20px 0;
  }
} */

 ion-card-title{
  $font-family-base: 'Nunito', sans-serif;
  color: white;



 }
 
 
 ion-card-subtitle{
   text-transform: initial;
 }



