


ion-content{

    --background : #778a93;
    p{
    color:  #ffffff;
    }
 
  
    text-align: center;
    -ms-flex-item-align: center;

   
   
   
   
   
   ion-card-subtitle{
     text-transform: initial;
   }

  

}