


ion-content{

  --background :linear-gradient(45deg, blue, red);
    p{
    color:  #ffffff;
    justify-content: center;
    text-align: center;
    }
 


  
    
 

   
   
   
   
   
   ion-card-subtitle{
     text-transform: initial;
   }

  

}