


ion-content{

  --background :linear-gradient(#9E9E9E, rgb(0, 0, 0));

 


/* .border {
  ion-item {
    border-radius: 20px 0 20px 0;
  }
} */

 ion-card-title{
  $font-family-base: 'Nunito', sans-serif;
  color: #DD9250;
  filter: drop-shadow(2px 2px 1px black);
  text-align: center;
  height: 50px;



 }
 .box {
 filter: drop-shadow(5px 5px 8px black);
 }
 
 ion-card-subtitle{
   text-transform: initial;
   filter: drop-shadow(2px 2px 2px black);
   text-align: left;
 }

 .heartrate {
  
    --border-radius: 20px 20px 0px 0px;
 }


.bot{

  --border-radius: 0px 0px 20px 20px;
}
.buttonclick{
 
  height: 65px;
  margin: 0 auto;
  --border-radius: 20px 20px 20px 20px;
 
}
.vitalsigns{
  list-style: none;
  justify-content: center;
  text-align: justify;
}



}