<ion-content >


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="watch-outline"></ion-icon>
      <ion-icon name="warning-outline"></ion-icon>
      <ion-icon name="walk-outline"></ion-icon>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="water-outline"></ion-icon>
      <ion-icon name="speedometer-outline"></ion-icon>

    </ion-buttons>

    <ion-buttons slot="end"> <!--- slot="end" to locate the datetime to the upper right corner-->

  <ion-datetime-button datetime="datetime"></ion-datetime-button>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
    </ion-buttons>
  </ion-toolbar>

<!--- For the 3 vital signs and input-->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle> Not Normal
      <ion-icon color="danger" name="ellipse"></ion-icon>
    </ion-card-subtitle>
    <ion-card-title >Automated Alert System</ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="/assets/heartrate.png" />
        </ion-thumbnail>
        <ion-label>Heart rate</ion-label>
      
        
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="/assets/bp.png" />
        </ion-thumbnail>
        <ion-label>Blood pressure</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="/assets/SpO2.png" />
        </ion-thumbnail>
        <ion-label>Oxygen level</ion-label>
      </ion-item>

   
    </ion-list>
  </ion-card-content>
</ion-card>





  <!--For tabs bottom-->
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button >
        <ion-icon name="home" label="Home" routerLink="/alert"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="settings" label="Settings" routerLink="/settings"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="reader" label="Reports" routerLink="/report"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!--- submit button-->
  
 



</ion-content>