


ion-content{

  --background :linear-gradient(45deg, blue, red);
  
 
}


 ion-card-title{
  $font-family-base: 'Roboto', sans-serif;
  justify-content: center;
  color: rgb(255, 0, 0);



 }
 
 
 ion-card-subtitle{
   text-transform: initial;
   $font-family-base: 'Roboto', sans-serif;
 }



