<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> Messages </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button routerLink="/home"> Back </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button size="large" color="warning" fill="clear" id="present-alert">
    <ion-icon name="warning-outline"></ion-icon>
  </ion-button>
  <ion-alert
    trigger="present-alert"
    header="Alert"
    subHeader="Message"
    message="Vital Signs are Not Normal!"
    [buttons]="alertButtons"
  ></ion-alert>

</ion-content>
