






ion-content{

    --background : #778a93;
    
   
   
   
   
   
   
   ion-card-subtitle{
     text-transform: initial;
   }
   
 
   

ion-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  
    }   
}
   

